.怪物 {
	color: #C53F3F;
}

.關鍵字 {
	color: #FADC99;
}

.能力卡 {
	color: #32E632;
}

.能力 {
	color: #1F9EDC;
}

.職業 {
	color: #A06E4B;
}

.地區 {
	color: #BA7956;
}

.道具 {
	color: #FFB300;
}

.劇本{
	color: #6A56BA;
}

.修正卡正{
	color: orange;
}

.修正卡負{
	color: purple;
}